<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Repaso</title>
    <link rel="stylesheet" href="../css/estilos.css">
</head>
<body>
    <h1>Titulo</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A consectetur commodi, quaerat vitae corporis cum nam, ratione qui ut unde laboriosam fugit? Dolor, nulla dolorem! Quis modi accusamus quae architecto!</p>
    <span>Hola</span>
    <a href="https://www.youtube.com/">
        <img src="../img/pokemon.jpg" alt="imagen">
    </a>

    <a href="../../index.html">Index</a>

    <span class="saludo" id="saludoInicial">Hola</span>

    <ol>
        <li>Primer</li>
        <li>Segundo</li>
        <li>Tercero</li>
        <li>Cuarto</li>
    </ol>

    <ul>
        <li>Primer</li>
        <li>Segundo</li>
        <li>Tercero</li>
        <li>Cuarto</li>
    </ul>

    <style>
        body {
            background-color: #f2f2f2;
        }
    </style>

    <div></div>

    <script>
        alert("Hola mundo!!!");
    </script>
    <script src="../js/main.js"></script>
    
</body>
</html>